/*
Author:
Date:
File Name: 
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

table {
	width: 80%;
	margin: 0 auto;
	border: 3px solid #71881b;
}

table tr th td {
	border: collapse;
	padding: 2%;
}

caption {
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
}

th td {
	border: 1px solid #7188bb;
	align: center;
}

tr:nth-child(odd) {
	background-color: #d3e788
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}